.intro-content {
    position: relative;
    /* top: -6.5rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-content-text, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.intro-img img {
    max-width: 140%;
    height: auto;
}

.resume-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-content {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-main-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);    
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -1rem;
    transform: rotate(5deg);
}

.galery-img{
    width: 100%;
    max-width: 40rem;
    max-height: 40rem;
    overflow: hidden;
}

.galery-img img{
    transition: all 300ms ease-in-out;
}

.galery-img img:hover{
    transform: translate(-3%, 3%) scale(1.3) rotate(5deg);
}

.contact-img {
    width: 140%;
    height: auto;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    border: none;
    background: var(--white-color);
    font-size: 2rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 1rem 0.2rem #d8a88b;
}

.contact-form legend{
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 3rem; 
}

.form-group button {
    border: none;
    background: var(--lightgray-color);
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    }
    
.form-group button:hover, .form-group button:focus {
    background: #d8a88b;
}

.form-group ::placeholder {
    color: var(--lightgray-color);
}

#footer {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 0;
}

#footer a {
    color: var(--white-color);
}

#footer p {
    margin: 0;
    padding: 0;
}

.icon-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
    
.icon-img img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.icon-img img:hover, .icon-img img:focus {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    transition: all 300ms ease-in-out;
}

.close-menu {
    display: none;
}

.back-top {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background: var(--gray-color);
    color: var(--primary-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.back-top:hover {
    width: 5.2rem;
    height: 5.2rem;
    background: #d8a88b;
    color: var(--primary-color);
    transition: all 300ms ease-in-out;
    font-weight: bold;
}

@media (max-width: 800px) {

    h1 {
        font-size: 5rem;
    }

    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .intro-img {
        width: 90%;
        height: 90%;
    }

    .galery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .contact-form {
        grid-column: span 1;
    }

    .contact-img {
        width: 90%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Nav-Menu {
        bottom: 0;
        background: rgb(216, 168, 139, 0.95);
    }

    .Nav-Menu ul li a{
      color: var(--primary-color);
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-content li {
        margin: 1rem;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 5px;
    }

    .menu-content li:hover {
        background: #bd825d;
    }

    .menu-content ul li a:hover {
        color: var(--white-color);
    }

    .menu-content{
        height: 100vh;
    }

    .Logo-Menu{
        display: none;
    }

    .Nav-Menu {
        display: none;
    }
   
    .close-menu-label::after {
        content: '☰';
        display: flex;
        position: fixed;
        z-index: 2;
        top: 2rem;
        left: 2rem;
        background: none;
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: 3rem;
        padding: 0.5rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .close-menu:checked~.Nav-Menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '✕';
    }

}